{{ $cameraval := .Page.Param "camera" }}

<div class="colrow">

	<div class="column">
	<div class="slider">
		{{ $slidevar := 0 }}	
		
  		{{ range .Page.Resources }}
  			{{ $slidevar = add $slidevar 1 }}
  			<a href="#slide-{{ $slidevar }}">{{ $slidevar }}</a>
		{{ end }}
		
		<div class ="slides">
			{{ $divvar := 0 }}
			{{ range .Page.Resources }}
				{{ $divvar = add $divvar 1 }}
				<div id="slide-{{ $divvar }}">
					<img src="{{ .RelPermalink }}" class="divimg">
				</div>
			{{ end }}
		</div>
	</div>
	</div>
	
	<div class="column">
		<ul>
			<h3>Camera Information:</h3>
			{{ $order := slice "maker" "model" "format" "style" "lens" }}
			{{ $camera := index .Site.Data.cameralist.cameras $cameraval }}
				{{ range $order }}
					{{/* print all known fields in the desired order */}}
					{{ $k := . }}
					{{ $v := index $camera $k }}
						{{ if eq $k "maker" }}
							<li class="cameraList"><a href="/categories/{{ $v | urlize }}" class="listHead">{{ $k }}: {{ $v }}</a></li>
						{{ else if eq $k "format"}}
							<li class="cameraList"><a href="/categories/{{ $v | urlize }}" class="listHead">{{ $k }}: {{ $v }}</a></li>
						{{ else if eq $k "style" }}
							<li class="cameraList"><a href="/categories/{{ $v | urlize }}" class="listHead">{{ $k }}: {{ $v }}</a></li>
						{{ else }}
							<li class="cameraList">{{ $k }}: {{ $v }}</li>
						{{ end }}
				{{ end }}
				
			{{ range $k, $v := $camera }}
				{{ if not (in $order $k) }}
						{{/* print remaining fields not contained in the desired order;
						by that, additional fields unknown at the time of writing this
						shortcode are still printed at the end of the list */}}
						<li class="cameraList">{{ $k }}: {{ $v }}</li>
				{{ end }}
			{{ end }}
			
		</ul>
	</div>
</div>

{{ $events := where (where .Site.RegularPages "Section" "galleries") "Params.camera" "eq" $cameraval }}
{{ if len $events | eq 0 }}
	<p>I have yet to develop any film from this camera!</p>
{{ else }}
<h3>
Sample Galleries
</h3>
{{ end }}

<p>
<ul>
	{{ range where (where .Site.RegularPages "Section" "galleries") "Params.camera" "eq" $cameraval }}
  		  <li><a href="{{ .RelPermalink }}" class="dt">{{ .LinkTitle }}</a></li>
  	{{ end }}
</ul>
</p>

